{% extends "base.html" %}

{% block tab_files_selected -%}selected{% endblock -%}

{% block subheader -%}
<div class="breadcrumbs"><span class="site-title"><a href="{{ root_url | safe }}/index.html">{{site_name | default(value="Itsy-Gitsy") }}</a></span>{% if name -%}&nbsp;&gt;&gt;&nbsp;<span class="site-title">{{ name }}</span>{% endif -%}&nbsp;&gt;&gt;&nbsp;<span class="repo-name">{{ dir.path }}</span></div>
{% endblock -%}

{% block content %}
<div class="nocap-header files">{{ dir.path }}</div>
<table class="summary-table files">
  <colgroup>
    <col class="file" />
    <col class="type" />
    <col class="mode" />
    <col class="size" />
  </colgroup>
  <tr>
    <th>File</th>
    <th>Type</th>
    <th>Mode</th>
    <th>Size</th>
  </tr>
  {% for file in files -%}
  <tr class="file">
    {% if file.kind == "dir" -%}
    {% set file_name = file.name ~ "/" -%}
    {% else -%}
    {% set file_name = file.name -%}
    {% endif -%}
    <td class="name">{% if file.id in file_ids -%}<a href="{{repo_url | safe}}/{{file.kind}}/{{file.id}}.html">{{file_name}}</a>{% else -%}{{file_name}}{% endif -%}</td>
    <td class="type">{{file.kind}}</td>
    <td class="mode">{{file.mode | mask(mask="0xfff") | oct}}</td>
    <td class="size">{{file.size}}</td>
  </tr>
  {% endfor -%}
</table>
{% endblock content %}
