{% extends "base.html" %}

{% block content %}
<table class="tags">
  <tr>
    <th>Tag</th>
    <th>Commit ID</th>
    <th>Message</th>
    <th>Author</th>
    <th>Date</th>
  </tr>
  {% for entry in tags -%}
  <tr class="tag">
    <td class="name"><a href="tag/{{entry.full_hash}}.html">{{entry.ref_name}}</a></td>
    <td class="oid">{{entry.short_hash}}</td>
    <td class="commit-msg" style="font-family: sans-serif;">{{entry.summary}}</td>
    <td class="author">{{entry.author.name}}</td>
    <td class="date">{{ts_to_date(ts=entry.ts_utc, tz=entry.ts_offset)}}</td>
  </tr>
  {% endfor -%}
</table>
{% if page.prev_page %}<a href="{{ page.prev_page }}">PREV</a>{% endif %} &nbsp; &nbsp; &nbsp; <a href="{{ page.cur_page }}">CUR</a> &nbsp; &nbsp; &nbsp; {%if page.next_page %}<a href="{{ page.next_page }}">NEXT</a>{% endif %}<br>
{% endblock content %}
